<?xml version="1.0" encoding="GBK"?>
<!-- Spring配置文件的根元素，使用spring-beans-3.1.xsd语义约束 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/util  
            http://www.springframework.org/schema/util/spring-util-3.1.xsd">
	<!-- 加载properties配置文件 -->
	<util:list id="locations">
		<value>/WEB-INF/deploy.properties</value>
	</util:list>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="locations" ref="locations"></property>
	</bean>
</beans>
